#editor_head
  #stoplights
  h1 Intro.md

#editor_tabs
  hr.sep
  ul#menu
    li.github
      a href=="http://github.com/k2052"
        .icon
        .text github
    li.twitter
      a href=="http://twitter.com/k_2052"
        .icon
        .text twitter
    li.mail
      a href=="mailto:k@2052.me"
        .icon
        .text hire me via mail
    li.dribbble
      a href=="http://dribbble.com/k2052"
        .icon
        .text 
          | dribbble 
          span.label (I can sorta design too)
  .clear

#editor_body
  hr.sep
  #content
    section#intro.section
      h1.intro 
        span.tag # 
        | Intro
      p 
        | Hi, I'm K-2052 and I do development stuff. Let's get to know each other a bit.

    #core_skills.section
      h1
        span.tag # 
        | My Core Skills

      #web_apps.sub_section
        h1
          span.tag # 
          | Web Apps

        p
          | Good web apps start with good code. I create web apps with a simple well thought-out base that grows well. I love starting with a great REST API, some good tests, and then growing it from there until I have a full-fledged web app.

      #frontends.sub_section
        h1
          span.tag # 
          | Frontends
        p
          | The web is everywhere and HTML/CSS/JS skills are more important now than ever. I know the latest and greatest techniques from Compass to Coffescript to Spine.js to AngularJS.

      #theming.sub_section
        h1
          span.tag # 
          | CMS Templates/Themes
        p
          | I've written a [Joomla! template framework](
          a href=="http://github.com/bookworm/simplex" http://github.com/bookworm/simplex
          |) and I've done work for many Joomla! template clubs. I'm an expert at producing templates that are cleanly coded and that sell well.

    #core_languages.section
      h1 
        span.tag # 
        | Core Languages 
      ul 
        li - Ruby   
        li - C   
        li - C++
        li - PHP
        li - Lua 
        li - OBJC
        li - JS  

    #stacks.section
      h1 
        span.tag # 
        | Stacks I Like
      ul
        li - Padrino
        li - Spine and Hem
        li - Joomla! + Nooku
        li - Lua + C & C++
        li - QT + Lua QT Bindings
        li - Macruby
        li - RubyMotion
        li - OBJC 
  .clear
#footer
  #footer_bar
    hr.sep
    | Minimum Rate 
    em $100/Hour 
    a href="mailto:k@2052.me" contact me
    span.label (via mail)
